/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/*= End of CSS reset =*/
/*=============================================<<<<<*/

/*----------- variables & mixins -----------*/

$h_green: #00d66c;
$h_blue: #29219d;
$h_red: #ff3268;
$bg_divide: #f3e5d8;

@mixin vertical_margin($v_margin) {
	margin : {
		top: $v_margin;
		bottom: $v_margin;
	}
}

/*----------- fonts -----------*/


@font-face {
	font-family: nexa;
	src: url("../fonts/nexa_light.otf");
}

@font-face {
	font-family: nexa_bold;
	src: url("../fonts/nexa_bold.otf");
}

/*=============================================>>>>>
= general =
===============================================>>>>>*/

* {
	box-sizing: border-box;
}

html {
	font-family: nexa;
	margin : {
	  left: 5vw;
		right: 5vw;
	}
}

header ul {
	display: flex;
	justify-content: space-between;;
	align-items: center;
	max-height: 7vh;
	position: relative;

	margin: 0 -5vw;
	padding: 0.5rem 0.5rem;
	// border-bottom: 0.15rem solid $h_green;
	box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, .15);

	background-color: #fff;

	li {
		display: flex;
		align-items: center;
		.article_amount {
			font-size: 1.5em;
		}
	}
}

nav {
	img {
		max-width: 1.5rem;
		max-height: 2rem;
		margin-right: 1rem;
	}
	input {
		display: none;
	}
	//the searchbar/btn
	li {
		&:nth-child(2) {
			margin: 0 1rem;
			margin-left: auto;

			button {
				box-shadow: 0 0.15rem #120145;
				background-color: $h_blue;
				transition: background-color 1s ease;
				&:hover {
					background-color: #5e40b8;
				}
			}
		}

		&:nth-child(3) {
			font-size: 1em;
			padding: 0.4rem 0.8rem;
			border: none;
			border-radius: 1rem;
			color: #fff;

			button {
				box-shadow: 0 0.15rem #1E9162;
				background-color: $h_green;
				transition: background-color 1s ease;
				&:hover {
					background-color: #50df96;
				}
			}
		}
	}

	button {
		font-size: 1em;
		padding: 0.4rem 0.8rem;
		border: none;
		border-radius: 1rem;
		color: #fff;
	}
}


.article_amount, .extra_title {
	font-size: 2em;
	color: $h_green;
}

.article_amount {
	font-family: nexa_bold;
}

.extra_title {
	display: none;
	content: "\00a0";
}

section {
	@include vertical_margin(1rem);
}

h1, h2, h3 {
	display: block;
	font-family: nexa_bold;
	width: 100%
}

h1 {
	font-size: 8vw;
}

h2 {
	font-size: 2em;
	color: $h_blue;
}

h3 {
	font-size: 1.25em;
	color: $h_green;
}

h4 {
	font-family: nexa_bold;
	font-size: 1em;
	color: $h_blue;
}

p {
	line-height: 1.3em;
}

.fa:after {
	content: "\00a0";
}

/*=============================================>>>>>
= overzichtpagina =
===============================================>>>>>*/

.amount_intro {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 35vh;
	max-height: 50vh;
	margin: 0 -5vw;

	background-image: url("../img/reading_beach3.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	font-size: 1.5em;
	color: #fff;
	text-align: center;

	section {
		padding: 1rem;
		border-radius: 1rem;

		background-color: $h_green;
	}

	.article_amount {
		color: #fff;
	}
}

.aanbevolen, .verhalen {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 -5vw;
	padding: 5vw;
	background-color: $bg_divide;

	h2 {
		margin-left: 0.5rem;
	}

	article {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		flex: 1 2 12em;
		min-height: 10rem;
	  max-height: 22rem;

		margin: 1rem 0.5rem;
		padding: 1rem;
		border-radius: 1rem;
		background-color: #fff;

			& > p {
				@include vertical_margin(0.5rem);
				// overflow: hidden; does not work atm need an alt
			}

			& > span {
				align-self: flex-end;
			}
		}

		.likes {
			color: $h_red;
		}

		.comments {
			margin-left: 1em;
		}

		footer {
			font-size: 0.75em;
			p {
				font-family: nexa_bold;
				color: $h_blue;
			}
		}
	}

/*=============================================>>>>>
= sort/filt =
===============================================>>>>>*/

.sort_filt {
	display: flex;
	flex-direction: column;
	max-width: 30em;

	margin: 2rem auto;
	border: 1px solid green;
	border-radius: 1rem;
	padding: 1rem;


	div {
		&:first-child {
			margin: -1rem -1rem 1rem -1rem;
			padding-bottom: 0.5rem;
			text-align: center;
			background-color: $h_red;
		}
		&:nth-last-child(1) {
			margin: 0rem -1rem -1rem -1rem;
			padding: 1rem;
			text-align: center;
			background-color: $h_red;
		}
	}

	h3 {
		color: #fff;
	}

	h3, h4 {
		margin-bottom: .5rem;
	}

	select {
		margin-bottom: 1rem;
	}

	.article_amount {
		margin-top: 1rem;
		font-size: 1.5em;
		text-align: center;
		color: #fff;

	}

	.filter_kopje {
		font-family: nexa_bold;
		li {
			font-family: nexa;
			margin: 0.2rem 1rem;
		}
	}

	.filter_kopje:first-of-type {
		margin-bottom: 1rem;
	}

}

label {
	display: block;

	[type="checkbox"] {
		margin-left: auto;
	}
}

// forms (new account & sort/filt)
div {
	&:first-child {
		border-radius: 0.8rem 0.8rem 0 0;
		padding: 1rem 2rem;
	}
	&:nth-last-child(1) {
		border-radius: 0  0 0.8rem 0.8rem;
		padding: 0.5rem;
	}
}

/*=============================================>>>>>
= detail pagina =
===============================================>>>>>*/

.story_container {
	@include vertical_margin(1rem);
}

.story {
	max-width: 20em;

	p {
		@include vertical_margin(1rem);
	}

	.column_2 {
		column-count: 2;
	}
}

footer.article_meta {
	@include vertical_margin(1.5rem);
	display: flex;
	h4 ~ *:before {
		content: "\00a0 - ";
	}
}


/*=============================================>>>>>
= new account =
===============================================>>>>>*/

.new_account {
	background-color: $bg_divide;
}

.new_account_form {
	display: flex;
	flex-direction: column;
	max-width: 25rem;

	margin: 2rem auto;
	border: none;
	border-radius: 0.8rem;
	padding: 2rem 2rem;
	background-color: hsla(100, 100, 100, 0.5);



	fieldset {
		border: none;
		legend {
			margin: auto;
			padding: 1rem 0;
			font-family: nexa_bold;
			font-size: 1.5em;
			color: $h_green;
		}

		div {
			&:first-child {
				margin: -2rem -2rem 1rem -2rem;
				background-color: #fff;
			}
			&:nth-last-child(1) {
				margin: 0rem -2rem -2rem -2rem;
				background-color: #fff;
			}
		}
	}

	label {
		margin-bottom: 0.2rem;
		font-family: nexa_bold;
	}

	input {
		width: 100%;
		margin-bottom: 0.8rem;
		border: 0.1rem solid #909090;
		border-radius: 0.3rem;
		padding: .4rem;

		font-family: nexa;
		font-size: 1em;
	}

	input:focus {
		border-color: $h_blue;
		outline: none;
		// transaction here
	}

	[name="maak_account"] {
		display: block;
		min-width: 8rem;
		max-width: 10em;

		margin: 1rem auto;
		border: none;
		border-radius: 1rem;
		box-shadow: 0 0.15rem #ca2b55;
		background-color: $h_red;

		font-family: nexa_bold;
		color: #fff;
		transition: background-color 1s ease;

		&:hover {
			background-color: #ff658e;
		}
	}

}

/*=============================================>>>>>
= mediaqueries =
===============================================>>>>>*/


@media screen and(min-width: 30rem) {
	h2 {
		font-size: 2.375em;
		color: $h_blue;
	}

	h3 {
		font-size: 1.5em;
		color: $h_green;
	}

	header ul {
		max-height: 10vh;

		.article_amount {
			font-size: 3em;
		}
	}

	nav {
		img {
			max-width: 2.5rem;
			max-height: 3rem;
		}

		// the searchbar/btn
		ul li {
			&:nth-child(2) {
				input {
					display: inline-block;
					width: 8rem;
					padding: 0.4rem 0.5rem;
					border: 0.1rem solid #000;
					border-radius: 1rem 0 0 1rem;
				}

				button {
					margin-bottom: 0.14rem;
					padding: 0.33rem 1rem;
					border-radius: 0 1rem 1rem 0;
				}
			}
		}
	}



	.amount_intro {
		min-height: 70vh;
		font-size: 2em;

		section {
			padding: 2rem;
			border-radius: 1rem;
		}

		.article_amount {
			font-size: 2.375em;
		}
	}

	/*=============================================>>>>>
	= overzichtpagina mq =
	===============================================>>>>>*/

	.aanbevolen, .verhalen {
		article {
			max-width: 48%;
		}
		h2 {
			// margin-left: 15%;
		}
	}
	.teaser {
		font-size: 1em;
	}

	/*=============================================>>>>>
	= new account  mq=
	===============================================>>>>>*/

	.new_account_form {

		padding: 0;

		fieldset:first-child {
				padding: 1rem 2rem;
			}
		}

} //end mq min-width 30rem


@media screen and(min-width: 70rem) {

	.extra_title {
		display: inline-block;
		&:before {
			content: "\00a0";
		}
	}

	.verhalen {
		article {
			min-width: 23%;
			max-width: 33%
		}
	}
}


// just to devide visually for now to avoid confusion
form, fieldset {
	border: 0.01rem solid #000;
}

.visibility {
		display: none;
}
