/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset {
  border: none; }

a {
  text-decoration: none; }

/*= End of CSS reset =*/
/*=============================================<<<<<*/
/*----------- variables & mixins -----------*/
/*----------- fonts -----------*/
@font-face {
  font-family: nexa;
  src: url("../fonts/nexa_light.otf"); }
@font-face {
  font-family: nexa_bold;
  src: url("../fonts/nexa_bold.otf"); }
/*=============================================>>>>>
= general =
===============================================>>>>>*/
* {
  box-sizing: border-box; }

html {
  font-family: nexa; }

section {
  margin-top: 1rem;
  margin-bottom: 1rem; }

h1, h2, h3 {
  display: block;
  font-family: nexa_bold;
  width: 100%; }

h1 {
  font-size: 8vw; }

h2 {
  font-size: 2em;
  color: #29219d; }

h3 {
  font-size: 1.25em;
  color: #00d66c; }

h4 {
  font-family: nexa_bold;
  font-size: 1em;
  color: #29219d; }

p {
  line-height: 1.3em; }

.fa:after {
  content: "\00a0"; }

button, [type="submit"] {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 1rem;
  font-family: nexa_bold;
  color: #fff; }

/*=============================================>>>>>
= Header =
===============================================>>>>>*/
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 7vh;
  position: relative;
  z-index: 2;
  padding: 0.5rem 0.5rem;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.15);
  background-color: #fff; }
  header ul li {
    display: flex;
    align-items: center; }
    header ul li .article_amount {
      font-size: 1.5em; }

nav img {
  max-width: 1.5rem;
  max-height: 2rem;
  margin-right: 1rem; }
nav input {
  opacity: 0;
  width: 0;
  margin: 0;
  transition: all 1s; }
nav li:nth-child(2) {
  margin-left: auto; }
  nav li:nth-child(2) div {
    display: flex; }
  nav li:nth-child(2) button {
    margin-right: 1rem;
    box-shadow: 0 0.15rem #120145;
    background-color: #29219d;
    transition: all 1s ease; }
    nav li:nth-child(2) button:hover {
      background-color: #5e40b8; }
nav li:nth-child(3) button {
  box-shadow: 0 0.15rem #1E9162;
  background-color: #00d66c;
  transition: background-color 1s ease; }
  nav li:nth-child(3) button:hover {
    background-color: #50df96; }

header form {
  height: 17rem;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem;
  padding-top: 0;
  position: absolute;
  z-index: 1;
  opacity: 1;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.15);
  transition: all .5s; }
  header form fieldset div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  header form [type="submit"] {
    width: 15rem;
    background: #ff3268; }
  header form.visibility {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%); }

.article_amount, .extra_title {
  font-size: 2em;
  color: #00d66c; }

.article_amount {
  font-family: nexa_bold; }

.extra_title {
  display: none;
  content: "\00a0"; }

/*=============================================>>>>>
= overzichtpagina =
===============================================>>>>>*/
.amount_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  max-height: 50vh;
  margin: initial;
  background-image: url("../img/reading_beach3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.5em;
  color: #fff;
  text-align: center; }
  .amount_intro section {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #00d66c; }
  .amount_intro .article_amount {
    color: #fff; }

.aanbevolen, .verhalen {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: initial;
  padding: 5vw;
  background-color: #f3e5d8; }
  .aanbevolen h2, .verhalen h2 {
    margin-left: 0.5rem; }
  .aanbevolen article, .verhalen article {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    flex: 1 2 12em;
    min-height: 10rem;
    max-height: 22rem;
    margin: 1rem 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff; }
    .aanbevolen article > p, .verhalen article > p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    .aanbevolen article > span, .verhalen article > span {
      align-self: flex-end; }
  .aanbevolen .likes, .verhalen .likes {
    color: #ff3268; }
  .aanbevolen .comments, .verhalen .comments {
    margin-left: 1em; }
  .aanbevolen footer, .verhalen footer {
    font-size: 0.75em; }
    .aanbevolen footer p, .verhalen footer p {
      font-family: nexa_bold;
      color: #29219d; }

/*=============================================>>>>>
= forms =
===============================================>>>>>*/
form {
  background-color: #fff;
  border: 0.01rem solid #000;
  border-radius: 1rem;
  padding: 1rem; }

legend {
  margin: auto;
  padding: 1rem 0;
  font-family: nexa_bold;
  font-size: 1.5em;
  color: #00d66c; }

label {
  margin-bottom: 0.2rem;
  font-family: nexa_bold; }

input {
  width: 100%;
  margin-bottom: 0.8rem;
  border: 0.1rem solid #909090;
  border-radius: 0.3rem;
  padding: .4rem;
  font-family: nexa;
  font-size: 1em; }
  input:focus {
    border: 1.5px solid #29219d;
    outline: none; }

/*=============================================>>>>>
= sort/filt =
===============================================>>>>>*/
.filter, .mf-container form {
  border: initial; }

.filter button {
  margin-right: 1rem;
  box-shadow: 0 0.15rem #120145;
  background-color: #29219d;
  transition: all 1s ease;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 1rem;
  color: #fff; }

html, body, .mf-container, .pusher, .content {
  height: 100%; }

.mf-container {
  height: 100%;
  position: relative;
  overflow: hidden; }

.content {
  position: relative;
  overflow-y: scroll; }

.filter-menu-open, .pusher {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s; }

.pusher {
  position: relative;
  left: 0;
  z-index: 99;
  transition: transform 0.5s; }
  .pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s; }

.filter-menu-open .pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s; }

.filter-menu {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transform:translateX(-15rem);
  border-radius: initial;
  width: 15rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: none;
  background: #f3e5d8;
  padding: initial;
  transition: all 0.5s;
}
  .filter-menu::-webkit-scrollbar {
    display: none; }
  .filter-menu h3 {
    margin: 1rem; }
  .filter-menu li {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    background: #F44336;
    transition: all 0.5s; }
    .filter-menu li:hover {
      width: 14rem; }
    .filter-menu li:nth-child(2) {
      background: #03A9F4; }
    .filter-menu li:nth-child(3) {
      background: #4CAF50; }
    .filter-menu li:nth-child(4) {
      background: #FFEB3B; }
    .filter-menu li:nth-child(5) {
      background: #FF9800; }
    .filter-menu li:nth-child(6) {
      background: #795548; }
    .filter-menu li:nth-child(7) {
      background: #9E9E9E; }
    .filter-menu li:nth-child(8) {
      background: #fff; }
    .filter-menu li:nth-child(9) {
      background: #000;
      color: #fff; }
    .filter-menu li.selected {
      width: 14rem; }
  .filter-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
    transition: opacity 0.5s; }

/* Effect 2: Reveal */
.filter-menu-open .pusher {
  transform: translate3d(15rem, 0, 0); }

.filter-menu-open {
  z-index: 1; }

.filter-menu-open .filter-menu {
  opacity: 1;
  transform:translateX(0);
}
.filter-menu::after {
  display: none; }

#clickmij {
  display: none; }

/*=============================================>>>>>
= detail pagina =
===============================================>>>>>*/
.story_container {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.story {
  max-width: 20em; }
  .story p {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .story .column_2 {
    column-count: 2; }

footer.article_meta {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex; }
  footer.article_meta h4 ~ *:before {
    content: "\00a0 - "; }

/*=============================================>>>>>
= new account =
===============================================>>>>>*/
.new_account {
  background-color: #f3e5d8; }

.new_account_form {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.5); }
  .new_account_form fieldset div:first-child {
    margin: -2rem -2rem 1rem -2rem;
    background-color: #fff; }
  .new_account_form fieldset div:nth-last-child(1) {
    margin: 0rem -2rem -2rem -2rem;
    background-color: #fff; }
  .new_account_form [type="submit"] {
    display: block;
    min-width: 8rem;
    max-width: 10em;
    margin: 1rem auto;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.15rem #ca2b55;
    background-color: #ff3268;
    font-family: nexa_bold;
    color: #fff;
    transition: background-color 1s ease; }
    .new_account_form [type="submit"]:hover {
      background-color: #ff658e; }

/*=============================================>>>>>
= mediaqueries =
===============================================>>>>>*/
@media screen and (min-width: 30rem) {
  h2 {
    font-size: 2.375em;
    color: #29219d; }

  h3 {
    font-size: 1.5em;
    color: #00d66c; }

  header ul {
    max-height: 10vh; }

  nav img {
    max-width: 2.5rem;
    max-height: 3rem; }
  nav ul li:nth-child(2) input {
    opacity: 1;
    width: 8rem;
    border-radius: 1rem 0 0 1rem; }
  nav ul li:nth-child(2) button {
    margin-bottom: 0.14rem;
    border-radius: 0 1rem 1rem 0; }

  header form {
    right: 0.5rem;
    position: absolute;
    width: 20rem; }

  .amount_intro {
    font-size: 2em; }

  /*=============================================>>>>>
  = overzichtpagina mq =
  ===============================================>>>>>*/
  .aanbevolen article, .verhalen article {
    max-width: 48%; }

  .teaser {
    font-size: 1em; }

  /*=============================================>>>>>
  = new account  mq=
  ===============================================>>>>>*/
  .new_account_form {
    padding: 0; }
    .new_account_form fieldset:first-child {
      padding: 1rem 2rem; } }
@media screen and (min-width: 70rem) {
  .extra_title {
    display: inline-block; }
    .extra_title:before {
      content: "\00a0"; }

  .verhalen article {
    min-width: 23%;
    max-width: 33%; } }
.visibility {
  visibility: hidden; }
